[submodule "3vilTwinAttacker"]
	path = 3vilTwinAttacker
	url = https://github.com/wi-fi-analyzer/3vilTwinAttacker.git
[submodule "911_AP.sh"]
	path = 911_AP.sh
	url = https://github.com/crypiehef/911_AP.sh.git
[submodule "Aerial"]
	path = Aerial
	url = https://github.com/Nick-the-Greek/Aerial.git
[submodule "FruityWifi"]
	path = FruityWifi
	url = https://github.com/xtr4nge/FruityWifi
[submodule "Kali-Linux"]
	path = Kali-Linux
	url = https://github.com/Hack-with-Github/Kali-Linux
[submodule "Kali-Linux-Essental-Folders-and-Packages"]
	path = Kali-Linux-Essental-Folders-and-Packages
	url = https://github.com/ArminKaric/Kali-Linux-Essental-Folders-and-Packages
[submodule "Kali-MiTM-Evil-twin"]
	path = Kali-MiTM-Evil-twin
	url = https://github.com/psrcek/Kali-MiTM-Evil-twin
[submodule "kali-scripts"]
	path = kali-scripts
	url = https://github.com/0x90/kali-scripts
[submodule "NextKey"]
	path = NextKey
	url = https://github.com/misteriouser/NextKey
[submodule "PyPentest"]
	path = PyPentest
	url = https://github.com/Faidon09/PyPentest
[submodule "Reaver_script"]
	path = Reaver_script
	url = https://github.com/alexsalvetti/Reaver_script
[submodule "Search-Credentials"]
	path = Search-Credentials
	url = https://github.com/rakesh999/Search-Credentials
[submodule "SecLists"]
	path = SecLists
	url = https://github.com/danielmiessler/SecLists
[submodule "Veil-Evasion"]
	path = Veil-Evasion
	url = https://github.com/Veil-Framework/Veil-Evasion
[submodule "Wrapper-For-MITMF"]
	path = Wrapper-For-MITMF
	url = https://github.com/CeramicSkate0/Wrapper-For-MITMF
[submodule "activestalkerspack"]
	path = activestalkerspack
	url = https://github.com/UncleAlan/activestalkerspack
[submodule "bash-hax"]
	path = bash-hax
	url = https://github.com/zachsis/bash-hax
[submodule "discover"]
	path = discover
	url = https://github.com/leebaird/discover
[submodule "Yet-Another-Kali-Scripts-Repo-YAKSR"]
	path = Yet-Another-Kali-Scripts-Repo-YAKSR
	url = https://github.com/CeramicSkate0/Yet-Another-Kali-Scripts-Repo-YAKSR
[submodule "easy-kali-scripts"]
	path = easy-kali-scripts
	url = https://github.com/copydog/easy-kali-scripts
[submodule "github-kali-scripts"]
	path = github-kali-scripts
	url = https://github.com/exploitagency/github-kali-scripts
[submodule "gladius"]
	path = gladius
	url = https://github.com/praetorian-inc/gladius
[submodule "kali-anonsurf"]
	path = kali-anonsurf
	url = https://github.com/Und3rf10w/kali-anonsurf
[submodule "kalicheatsheet"]
	path = kalicheatsheet
	url = https://github.com/belouve/kalicheatsheet
[submodule "kalieraser"]
	path = kalieraser
	url = https://github.com/BrainfuckSec/kalieraser
[submodule "kalitorify"]
	path = kalitorify
	url = https://github.com/BrainfuckSec/kalitorify
[submodule "katoolin"]
	path = katoolin
	url = https://github.com/LionSec/katoolin
[submodule "metasploit-pro-trial-grabber"]
	path = metasploit-pro-trial-grabber
	url = https://github.com/kulisu/metasploit-pro-trial-grabber
[submodule "offensivesecurity"]
	path = offensivesecurity
	url = https://github.com/tomekceszke/offensivesecurity
[submodule "os-scripts"]
	path = os-scripts
	url = https://github.com/g0tmi1k/os-scripts
[submodule "pentest-scripts"]
	path = pentest-scripts
	url = https://github.com/OpenSecurityResearch/pentest-scripts
[submodule "sparta"]
	path = sparta
	url = https://github.com/SECFORCE/sparta
[submodule "ssh-phone-home"]
	path = ssh-phone-home
	url = https://github.com/Wh1t3Rh1n0/ssh-phone-home
[submodule "swaparoo"]
	path = swaparoo
	url = https://github.com/Un0wnX/swaparoo
[submodule "w3af-kali"]
	path = w3af-kali
	url = https://github.com/andresriancho/w3af-kali
[submodule "wifiphisher"]
	path = wifiphisher
	url = https://github.com/sophron/wifiphisher
[submodule "wirelessjammer"]
	path = wirelessjammer
	url = https://github.com/phr34k0/wirelessjammer
[submodule "searchsploit"]
	path = searchsploit
	url = https://github.com/sygo/searchsploit
[submodule "Violent-Python"]
	path = Violent-Python
	url = https://github.com/prestrepoh/Violent-Python
[submodule "ssh-audit"]
	path = ssh-audit
	url = https://github.com/arthepsy/ssh-audit.git
[submodule "pyssltest"]
	path = pyssltest
	url = https://github.com/moheshmohan/pyssltest
[submodule "doork"]
	path = doork
	url = https://github.com/AeonDave/doork.git
[submodule "CrackMapExec"]
	path = CrackMapExec
	url = https://github.com/byt3bl33d3r/CrackMapExec
[submodule "faraday"]
	path = faraday
	url = https://github.com/infobyte/faraday.git
[submodule "powerpack"]
	path = powerpack
	url = https://github.com/prabinzz/powerpack
[submodule "redcell"]
	path = redcell
	url = https://github.com/NECPC/RedCell-Kali
[submodule "lalin-lazykali"]
	path = lalin-lazykali
	url = https://github.com/Screetsec/LALIN
[submodule "kalidocs"]
	path = kalidocs
	url = https://github.com/Hack-with-Github/Kali-Linux
[submodule "sniper"]
	path = sniper
	url = https://github.com/1N3/Sn1per
[submodule "kalista"]
	path = kalista
	url = https://github.com/Hood3dRob1n/Kalista
[submodule "ddos"]
	path = ddos
	url = https://github.com/FreelancePentester/ddos-script
[submodule "antiforensic"]
	path = antiforensic
	url = https://github.com/brainfucksec/kalieraser
[submodule "lazykali"]
	path = lazykali
	url = https://github.com/bradfreda/Lazykali
[submodule "wpa2-wordlists"]
	path = wpa2-wordlists
	url = https://github.com/kennyn510/wpa2-wordlists
[submodule "offensive-security"]
	path = offensive-security
	url = https://github.com/tomekceszke/offensive-security
[submodule "metasploit-runner"]
	path = metasploit-runner
	url = https://github.com/amngibson/metasploit-runner
[submodule "Penetration-Testing-Toolkit"]
	path = Penetration-Testing-Toolkit
	url = https://github.com/veerupandey/Penetration-Testing-Toolkit
[submodule "Autometa"]
	path = Autometa
	url = https://github.com/Ramikan/Autometa
[submodule "TheFatRat"]
	path = TheFatRat
	url = https://github.com/Screetsec/TheFatRat
[submodule "venom"]
	path = venom
	url = https://github.com/r00t-3xp10it/venom
[submodule "RogueSploit"]
	path = RogueSploit
	url = https://github.com/B4ckP0r7/RogueSploit
[submodule "Minion"]
	path = Minion
	url = https://github.com/T-S-A/Minion
[submodule "V3n0M-Scanner"]
	path = V3n0M-Scanner
	url = https://github.com/v3n0m-Scanner/V3n0M-Scanner
[submodule "msf-remote-console"]
	path = msf-remote-console
	url = https://github.com/Luis-Hebendanz/msf-remote-console
[submodule "deep-pwning"]
	path = deep-pwning
	url = https://github.com/cchio/deep-pwning
[submodule "msfmulti"]
	path = msfmulti
	url = https://github.com/mattoufoutu/msfmulti
[submodule "Metasploit-CheatSheet"]
	path = Metasploit-CheatSheet
	url = https://github.com/RiccardoAncarani/Metasploit-CheatSheet
[submodule "metasploitHelper"]
	path = metasploitHelper
	url = https://github.com/milo2012/metasploitHelper
[submodule "Reverse_DNS_Shellcode"]
	path = Reverse_DNS_Shellcode
	url = https://github.com/eik00d/Reverse_DNS_Shellcode
[submodule "dradis-metasploit"]
	path = dradis-metasploit
	url = https://github.com/dradis/dradis-metasploit
[submodule "Metasploit-Menu"]
	path = Metasploit-Menu
	url = https://github.com/DarrenRainey/Metasploit-Menu
[submodule "msfgui"]
	path = msfgui
	url = https://github.com/scriptjunkie/msfgui
[submodule "autopsy"]
	path = autopsy
	url = https://github.com/sleuthkit/autopsy
[submodule "sleuthkit"]
	path = sleuthkit
	url = https://github.com/sleuthkit/sleuthkit
[submodule "logdissect"]
	path = logdissect
	url = https://github.com/dogoncouch/logdissect
[submodule "operative-framework"]
	path = operative-framework
	url = https://github.com/graniet/operative-framework
[submodule "timesketch"]
	path = timesketch
	url = https://github.com/google/timesketch
[submodule "mig"]
	path = mig
	url = https://github.com/mozilla/mig
[submodule "inVtero.net"]
	path = inVtero.net
	url = https://github.com/ShaneK2/inVtero.net
[submodule "volatility"]
	path = volatility
	url = https://github.com/volatilityfoundation/volatility
[submodule "RecuperaBit"]
	path = RecuperaBit
	url = https://github.com/Lazza/RecuperaBit
[submodule "O-Saft"]
	path = O-Saft
	url = https://github.com/OWASP/O-Saft
[submodule "awesome-forensics"]
	path = awesome-forensics
	url = https://github.com/Cugu/awesome-forensics
[submodule "Ultimate-Forensics-VM"]
	path = Ultimate-Forensics-VM
	url = https://github.com/theflakes/Ultimate-Forensics-VM
[submodule "magneto"]
	path = magneto
	url = https://github.com/padfoot999/magneto
[submodule "rekall"]
	path = rekall
	url = https://github.com/google/rekall
[submodule "docker-cif"]
	path = docker-cif
	url = https://github.com/ventz/docker-cif
[submodule "dfirtriage"]
	path = dfirtriage
	url = https://github.com/travisfoley/dfirtriage
[submodule "docker-o-saft"]
	path = docker-o-saft
	url = https://github.com/punkstar/docker-o-saft
[submodule "logbeautify"]
	path = logbeautify
	url = https://github.com/juanjoslopezv/logbeautify
[submodule "dff"]
	path = dff
	url = https://github.com/arxsys/dff
[submodule "sift"]
	path = sift
	url = https://github.com/sans-dfir/sift
[submodule "Linux-Forensics"]
	path = Linux-Forensics
	url = https://github.com/Kan1shka9/Linux-Forensics
[submodule "kirjuri"]
	path = kirjuri
	url = https://github.com/AnttiKurittu/kirjuri
[submodule "Wireless-forensics-framework"]
	path = Wireless-forensics-framework
	url = https://github.com/nipunjaswal/Wireless-forensics-framework
[submodule "networkforensics"]
	path = networkforensics
	url = https://github.com/freddiebarrsmith/networkforensics
[submodule "xplico"]
	path = xplico
	url = https://github.com/xplico/xplico
[submodule "ir-rescue"]
	path = ir-rescue
	url = https://github.com/diogo-fernan/ir-rescue
[submodule "travel-laptop"]
	path = travel-laptop
	url = https://github.com/CrowdStrike/travel-laptop
[submodule "Volatility-Framework-IDE"]
	path = Volatility-Framework-IDE
	url = https://github.com/eriston/Volatility-Framework-IDE
[submodule "volatile-broadside"]
	path = volatile-broadside
	url = https://github.com/Dioberne/volatile-broadside
[submodule "Scythe"]
	path = Scythe
	url = https://github.com/ChrisJohnRiley/Scythe
[submodule "brut3k1t"]
	path = brut3k1t
	url = https://github.com/ex0dus-0x/brut3k1t.git
[submodule "security-stuffs"]
	path = security-stuffs
	url = https://github.com/siditrix17/security-stuffs.git
[submodule "usb-canary"]
	path = usb-canary
	url = https://github.com/probablynotablog/usb-canary.git
[submodule "salt-scanner"]
	path = salt-scanner
	url = https://github.com/0x4D31/salt-scanner.git
[submodule "pwk-cheatsheet"]
	path = pwk-cheatsheet
	url = https://github.com/re-pronin/pwk-cheatsheet.git
[submodule "Linux-Keylogger"]
	path = Linux-Keylogger
	url = https://github.com/Kediel/Linux-Keylogger.git
[submodule "CyberSecurityApp"]
	path = CyberSecurityApp
	url = https://github.com/ZugNZwang/CyberSecurityApp.git
[submodule "OSHardening"]
	path = OSHardening
	url = https://github.com/NitescuLucian/OSHardening.git
[submodule "HaboMalHunter"]
	path = HaboMalHunter
	url = https://github.com/Tencent/HaboMalHunter.git
[submodule "Palioxis"]
	path = Palioxis
	url = https://github.com/deadbits/Palioxis.git
[submodule "hephaestus"]
	path = hephaestus
	url = https://github.com/james-daniel/hephaestus.git
[submodule "sysctl"]
	path = sysctl
	url = https://github.com/omniton/sysctl.git
[submodule "Anti-DDOS"]
	path = Anti-DDOS
	url = https://github.com/ismailtasdelen/Anti-DDOS.git
[submodule "security-assessor"]
	path = security-assessor
	url = https://github.com/stevegrubb/security-assessor.git
[submodule "swap_digger"]
	path = swap_digger
	url = https://github.com/sevagas/swap_digger.git
[submodule "cheat-sheets"]
	path = cheat-sheets
	url = https://github.com/tomklino/cheat-sheets.git
[submodule "Detect-It-Easy"]
	path = Detect-It-Easy
	url = https://github.com/horsicq/Detect-It-Easy.git
[submodule "airgeddon"]
	path = airgeddon
	url = https://github.com/v1s1t0r1sh3r3/airgeddon.git
[submodule "kickthemout"]
	path = kickthemout
	url = https://github.com/k4m4/kickthemout.git
[submodule "PcapViz"]
	path = PcapViz
	url = https://github.com/mateuszk87/PcapViz.git
[submodule "pythem"]
	path = pythem
	url = https://github.com/m4n3dw0lf/pythem.git
[submodule "nettop"]
	path = nettop
	url = https://github.com/Emanem/nettop.git
[submodule "pydictor"]
	path = pydictor
	url = https://github.com/LandGrey/pydictor.git
[submodule "appsec-docker-py"]
	path = appsec-docker-py
	url = https://github.com/aaronweaver/appsec-docker-py.git
[submodule "WiFi-autopwner"]
	path = WiFi-autopwner
	url = https://github.com/Mi-Al/WiFi-autopwner.git
